/* Default (Light Mode) */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 40px 8%; /* Reduced padding */
  position: relative;
  gap: 40px; /* Adjusted gap to control spacing between containers */
}

.hero-content {
  max-width: 550px; /* Slightly reduced max-width */
}

.hero-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px; /* Reduced margin */
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 25px; /* Reduced margin */
}

.hero-links {
  display: flex;
  gap: 15px; /* Reduced gap between links */
}

.hero-link {
  font-size: 1.1rem;
  color: #00d1b2;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.hero-link:hover {
  border-color: #00d1b2;
}

.hero-image img {
  width: 100%;
  max-width: 350px; /* Slightly reduced max-width */
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}

.resume-button {
  display: inline-block;
  background-color: green;
  color: black;
  padding: 10px 20px;
  border-radius: 29px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background: transparent;
  outline-style: groove;
  outline-color: rgb(6, 233, 9);
}

.resume-button:hover {
  background-color: #16a34a;
}

.dark .resume-button {
  color: white;
}

/* Dark Mode Styles */
.dark .hero-container {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text color */
}

.dark .hero-link {
  color: green;
}

.hero-link:hover {
  color: green;
}

.dark .hero-link:hover {
  border-color: green;
}

.dark .resume-button {
  outline-color: green;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 50px 5%; /* Adjusted padding */
    gap: 30px; /* Reduced gap for smaller screens */
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: 20px; /* Adjusted bottom margin */
  }

  .hero-title {
    font-size: 2.3rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
  }

  .hero-image img {
    width: 85%; /* Adjusted width */
    max-width: none;
    margin: 0 auto;
  }

  .hero-links {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-link {
    font-size: 1rem;
  }
  .resume-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .hero-image img { 
    width: 100%;
  }

  .hero-container {
    padding: 40px 5% 10px; /* Further reduced padding for very small screens */
  }
}

/* Specific Styles for Second Container */
.hero-container:nth-child(2) {
  padding: 20px 8%; /* Reduced padding to minimize the gap */
  gap: 20px; /* Reduced gap between content and image */
}

.hero-container:nth-child(2) .hero-image img {
  margin-bottom: 0; /* Eliminated bottom margin to reduce space between image and end of page */
}
