/* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
}

/* Hide scrollbar across all browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}